.body {
    margin: 0;
    display: grid;
    grid-template-rows: 1fr auto; /* 1fr for content, auto for footer */
    min-height: 100vh;
}

.header {
    flex-shrink: none;
    background-color: #3D524B;
    padding: 7px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-height: 15vh;
}
.header-text{
    color:#FFFFFF;
}

.header-logo {
    height: 60px;
    margin: auto;
}

.content{
    flex: 1 auto;
}

.content-container{
    background-color: #3D524B;
    margin: 15px;
    padding: 15px;
    border-radius: 25px;
    display: grid;
}

.item{
    background-color: #9CBBB3;
    border-radius: 25px;
    margin: 20px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.item-tool{
    text-align: center;
    border-radius: 25px;
    margin: 20px;
    padding: 60px;
    min-height: 120px;
    background-color: #9CBBB3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.footer {
    flex-shrink: none;
    display: grid;
    background-color: #3D524B;
    padding: 7px;
    min-height: 15vh;
}

.footer-icons {
    display: grid;
    margin: auto;
    grid-template-columns: repeat(3, 1fr);
}


.footer-text {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}


.footer-icon {
    height: 40px;
}

.search {
    background-image: url('/home/saifer/FE-Auction-PAT/public/assets/search-image.png');
    margin: 15px;
    padding: 15px;
    border-radius: 25px;
}