.body {
    margin: 0;
    display: grid;
    grid-template-rows: 1fr auto; /* 1fr for content, auto for footer */
    min-height: 100vh;
    font-family: "Poppins";
    color:#FFFFFF
}

.header {
    flex-shrink: none;
    background-color: #3D524B;
    padding: 7px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-height: 15vh;
}
.header-text{
    color:#FFFFFF;
}

.header-logo {
    height: 60px;
    margin: auto;
}

.content{
    flex: 1 0 auto;
}

.content-container{
    background-color: #3D524B;
    margin: 15px;
    border-radius: 10px;
    display: grid;
    overflow: auto;
    max-height: 95vh;
    min-height: 95vh;
}

.item-image{
    max-width: 100px;
    min-width: 100px;
    max-height: 80px;
    min-height: 80px;
    object-fit: cover;
}

.item{
    font-size: small;
    background-color: #9CBBB3;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    display: grid;
    max-height: 150px;
    grid-template-columns: repeat(3, 1fr);
}

.item-tool{
    text-align: center;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 5%;
    min-height: 25vh;
    max-width:450px;
    background-color: #9CBBB3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    transition: background-color 0.3s;
}
.item-tool:hover{
    background-color: #0077B6;
}

.profile-item-tool{
    text-align: center;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 5%;
    min-height: 15vh;
    max-width:450px;
    background-color: #416269;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    transition: background-color 0.3s;
}
.profile-item-tool:hover{
    background-color: #0077B6;
}

.myaux-item-tool{
    text-align: center;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 5%;
    width: 50vh;
    min-height: 15vh;
    background-color: #5F8586;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    transition: background-color 0.3s;
}
.myaux-item-tool:hover{
    background-color: #0077B6;
}

.mybid-item-tool{
    text-align: center;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 5%;
    width: 50vh;
    min-height: 15vh;
    background-color: #A37E2C;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    transition: background-color 0.3s;
}
.mybid-item-tool:hover{
    background-color: #0077B6;
}

.winning-item-tool{
    text-align: center;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 5%;
    width: 50vh;
    min-height: 15vh;
    background-color: #006039;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    transition: background-color 0.3s;
}
.winning-item-tool:hover{
    background-color: #0077B6;
}

.footer {
    flex-shrink: none;
    display: grid;
    background-color: #3D524B;
    padding: 7px;
    min-height: 15vh;
}

.footer-icons {
    display: grid;
    margin: auto;
    grid-template-columns: repeat(3, 1fr);
}


.footer-text {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}


.footer-icon {
    height: 40px;
}

input[type="text"] {
    color: #3D524B;        /* Warna teks */
    background: #FFFFFF; /* Warna latar belakang */
    border: 1px solid #3D524B; /* Warna border */
    padding: 5px;       /* Ruang di dalam input */
    border-radius: 10px; /* Sudut melengkung pada border */
    min-width: 200px;
    padding: 15px;
}

.search-container {
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    text-align: center;
    min-height: 15vh;
    position: sticky;
    top: 0;
    z-index: 1;
    background-image: url('/assets/search-image.png');
    background-size: 100%;
    border-radius: 10px;
    margin-left: -15px;
    margin-right: -15px;
}

.user-search-container {
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    text-align: center;
    max-height: 10vh;
    position: sticky;
    top: 0;
    z-index: 1;
    background-image: url('/assets/search-image.png');
    background-size: 100%;
    border-radius: 10px;
    margin-left: -15px;
    margin-right: -15px;
}

.on-search-indicator{
    margin: auto;
    text-align: center;
    color: #FFFFFF;
}

.menu-indicator{
    position: absolute;
    width: 75px;
    padding-left: 20px;
    padding-right: 20px;
    top: 0;
    left: 0;
    background-color: #9CBBB3;
    font-weight: bold;
    border-radius: 10px;
}

.invoice-container{
    background-color: #FFFFFF;
    border: 2px solid #3D524B;
    margin: 15px;
    padding: 5px;
    border-radius: 10px;
    display: grid;
    overflow: auto;
    max-height: 95vh;
    min-height: 95vh;
}

.invoice-logo{
    position: absolute;
    max-height: 50px;
    font-weight: bold;
    border-radius: 10px;
}

.invoice-header{
    text-decoration: underline;
    margin: 50px;
}

.invoice-body{
    align-items: center;
    width: 100%;
    overflow-x: auto;
}

.invoice-table-item{
    width: 100%;
}

.invoice-table-summary{
    margin-top: 50px;
    width: 100%;
    border-top: 2px solid #3D524B;
    border-bottom: 2px solid #3D524B;
}

.text-right{
    text-align: end;
}

.text-left{
    text-align: start;
}

.text-center{
    text-align: center;
}

.invoice-text-total{
    margin-top: 20px;
    color: #A37E2C;
    position: sticky;
}

.btn-bid {
    width: 100px; 
    height: 40px; 
    padding: 10px; 
    font-size: 16px; 
    background-color: #1E2925;
    color:#fff;
    font-family: Poppins;
    font-size: 16px;
    border-radius: 10px;
    transition: background-color 0.3s;
  }
  .btn-bid:hover {
    background-color: #0077B6; /* Warna latar belakang saat tombol dihover */
  }