body {
    margin: 0;
    padding: 0;
  }
  
  .profile-container {
    position: relative;
    height: 40vh; /* Setengah tinggi layar */
    overflow: hidden;
    /* padding-left: 4rem !important; */
  }
  
  .profile-background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  
  .card-container {
    position: absolute;
    display: flex;
    top: 50;
  }
  
  .card {
    left: 5vh;
    position: absolute;
    display: flex;
    top: 20vh;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    z-index: 1; /* Tambahkan properti z-index yang lebih tinggi */
    margin-top: -30%; /* Menggunakan persentase untuk responsif */
    margin-left: 5%; /* Menggunakan persentase untuk responsif */
  }
  
  .card-image {
    max-width: 30vh;
    justify-content: center;
    object-fit: fill;
  }
  
  .card-content {
    padding: 16px;
    background-color:#3D524B;
    color: #fff;
  }
  
  @media screen and (min-width: 768px) {
    .card-container {
      padding: 10px; /* Reset margin-left untuk responsif */
    }
  
    .card {
      margin-top: 10px; /* Tambahkan margin-top untuk memberikan ruang antara card */
      margin-left: 0; /* Reset margin-left untuk responsif */
    }

    .card-image {
      min-width: 30vh;
    }
  }

  .profile-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .profile-table td {
    font-family: Poppins;
    padding: 10px; /* Tambahkan padding untuk memberikan spasi */
    text-align: left;
  }


  .profile-deskripsi-container {
    position: absolute;
    background-color: #FFFFFF;
    border: 2px solid #3D524B;
    padding: 10px;
    border-radius: 10px;
    margin: 20px;
    max-width: 110vh;
    top: 40vh;
    left: 35vh;
  }

  .profile-username {
    font-family: Poppins;
    position: absolute;
    bottom: 0vh;
    left: 40vh;
    text-align: left;
    color: #ffffff; /* Warna teks */
  }

  .profile-username-edit {
    font-family: Poppins;
    position: absolute;
    bottom: 0vh;
    text-align: left;
    color: #ffffff; /* Warna teks */
  }
  
  .profile-button{
    position: absolute;
    top: 40vh;
    left: 150vh;
  }

  .item-font {
    color: #FFFFFF;
    font-weight: bold;
  }

  .item-tool{
    text-align: center;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 5%;
    min-height: 10vh;
    background-color: #9CBBB3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    transition: background-color 0.3s;
}
.item-tool:hover{
    background-color: #0077B6;
}

.profile-item-tool{
    text-align: center;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 5%;
    min-height: 10vh;
    background-color: #416269;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    transition: background-color 0.3s;
}
.profile-item-tool:hover{
    background-color: #0077B6;
}

.myaux-item-tool{
    text-align: center;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 5%;
    width: 50vh;
    min-height: 10vh;
    background-color: #5F8586;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    transition: background-color 0.3s;
}
.myaux-item-tool:hover{
    background-color: #0077B6;
}

.mybid-item-tool{
    text-align: center;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 5%;
    width: 50vh;
    min-height: 10vh;
    background-color: #A37E2C;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    transition: background-color 0.3s;
}
.mybid-item-tool:hover{
    background-color: #0077B6;
}

.winning-item-tool{
    text-align: center;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 5%;
    width: 50vh;
    min-height: 10vh;
    background-color: #006039;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    transition: background-color 0.3s;
}
.winning-item-tool:hover{
    background-color: #0077B6;
}


.profile-icon-home {
  position: absolute;
  right: 0;
  top: 0;
}

.profile-logo {
  max-width: 150px;
  position: absolute;
  left: 0;
  top: 0;
}