body {
    margin: 0;
    padding: 0;
  }
  
  .profile-container {
    position: relative;
    height: 40vh; /* Setengah tinggi layar */
    overflow: hidden;
  }
  
  .profile-background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  
  .profile-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff; /* Warna teks */
  }
  
  .card-container {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
  }
  
  .card {
    max-width: 300px;
    width: 100%;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    z-index: 1; /* Tambahkan properti z-index yang lebih tinggi */
    margin-top: -30%; /* Menggunakan persentase untuk responsif */
    margin-left: 5%; /* Menggunakan persentase untuk responsif */
  }
  
  .card-image {
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: cover;
  }
  
  .card-content {
    padding: 16px;
    background-color:#3D524B;
    color: #fff;
  }
  
  @media screen and (max-width: 768px) {
    .card-container {
      flex-direction: column; /* Ubah orientasi flex menjadi kolom pada layar kecil */
      align-items: center; /* Sesuaikan align-items untuk tetap di tengah */
      justify-content: center; /* Sesuaikan justify-content untuk tetap di tengah */
      margin-top: 10px; /* Tambahkan margin-top untuk memberikan ruang antara card dengan elemen lain */
      margin-left: 0; /* Reset margin-left untuk responsif */
    }
  
    .card {
      margin-top: 10px; /* Tambahkan margin-top untuk memberikan ruang antara card */
      margin-left: 0; /* Reset margin-left untuk responsif */
    }
  }

  .profile-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .profile-table td {
    font-family: Poppins;
    padding: 10px; /* Tambahkan padding untuk memberikan spasi */
    text-align: left;
  }


  .profile-deskripsi-container {
    background-color: #FFFFFF;
    border: 2px solid #3D524B;
    margin: 15px;
    padding: 10px;
    border-radius: 10px;
    display: start-end;
    overflow: auto;
    max-height: auto; /* Ubah max-height menjadi setengah tinggi layar */
    min-height: 10vh; /* Ubah min-height menjadi setengah tinggi layar */
    margin-top: -25%;
  }
  